@import "tailwindcss";

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply min-h-screen bg-gray-900 text-gray-100;
  }

  #root {
    @apply h-screen w-full;
  }
}

@media (prefers-color-scheme: light) {
  body {
    @apply bg-white text-gray-900;
  }
}
